/* Reset Style (допустимо использовать теги для обнуления стилей) */
ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

input,
button {
  outline: none;
}

/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__details {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__task {
  display: flex;
}

.main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main__button:hover {
  color: #3a3A3a;
}

/* Heading */
.main__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main__add-item {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.main__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.main__input-text:focus {
  color: #333;
}

/* New Task */
.main__add-item
.main__title {
  display: block;
  margin: 0 0 20px;
}

.add-item__new-task {
  width: 318px;
}

/* Task list */
.main__list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__list > 
.main__input-checkbox {
  margin: 0 10px;
}

.main__list > 
.main__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main__list > 
.main__input-text {
  width: 226px;
}

.main__delete 
.main__img-remove {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__delete 
.main__img-remove:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed__tasks 
.main__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.main__list 
.main__input-text {
  display: none;
}

.main__todo_edit-mode 
.main__input-text {
  display: inline-block;
  width: 224px;
}

.main__todo_edit-mode 
.main__label {
  display: none;
}